/* Custom Properties; Research */
/* 
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    font-family: 'Oswald', sans-serif; 
    font-weight: 300;
    background-color: cadetblue;
    font-size: 1rem;
}

@media (min-width: 800px) {
    :root {
        font-size: 1.125rem;
    }
} 
*/


/* General Styles */
body {
    background:darkorange;
    color:indianred;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;

}

section {
    padding: 5em 2em;
}

img {
    display: block;
    max-width: 100%;
}

/* strong {
    font-weight: bold;
} */

:focus {
    outline: 3px solid palevioletred;
    outline-offset: 3px;
}


/* Buttons */
.btn {
    display:  inline-block;
    padding: .5em 2.5em;
    background:mediumorchid;
    color:mediumseagreen;
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
    transition: transform 200ms ease-in-out;
}

.btn:hover {
    transform: scale(1.1);
}


/* Basic Typography */
h1,
h2,
h3 {
    line-height: 1;
    margin: 0;
}

h1 { font-size: 4.5rem; }

h2 { font-size: 3.75rem; }

h3 { font-size: 1.5rem; }

.section_title {
    margin-bottom: 0.25em;
}

.section_subtitle {
    margin: 0;
    font-size: 1.5rem;
}

.section_subtitle--intro,
.section_subtitle--about {
    background:lightseagreen;
    padding: 1em;
    margin-bottom: 1em;
}


/* Nav */
header {
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.nav {
    position: fixed;
    background: cornflowerblue;
    color: darkblue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;

    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav_list {
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}

.nav_link {
    color: inherit;
    text-decoration: none;
}

.nav_link:hover {
    color: lawngreen;
}

.nav_toggle {
    padding: 0.5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 1000;
}

.nav-open {
    background: tomato;
}

.hamburger {
    display: block;
    position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
    background:maroon;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
}

.hamburger::before {
    top: 6px;
}

.hamburger::after {
    bottom: 6px;
}


/* Intro Section */
.intro {
    position: relative;

}

@media (min-width: 600px) {
    .intro {
        display: grid;
        width: min-content;
        margin: 0 auto;
        grid-column-gap: 1em;
        grid-template-areas: 
            "img title"
            "img subtitle";
        grid-template-columns: min-content max-content;
    }
    .intro_img {
        grid-area: img;
        min-width: 250px;
        position: relative;
        z-index: 2;
    }
    .section_subtitle--intro {
        align-self: start;
        grid-column: -1 / 1;
        grid-row: 2;
        text-align: right;
        position: relative;
        left: -1.5em;
        width: calc(100% +1.5em);
    }
}


/* Services Section */
.services {
    background-color: goldenrod; 
    background-image: url(../img/);  
    background-size: cover;
    /* background-blend-mode: multiply; */
    color: lightblue;
    text-align: center;
    margin-bottom: 4em;
}

.section_title--services {
    color: lightpink;
    position: relative;
}
    /* Sudo element........ */
.section_title--services::after {
    content: '';
    display: block;
    width: 3em;
    height: 1px;
    margin: 0.5em auto 1em;
    background:maroon;
    opacity: 0.25;
}

.service {
    max-width: 500px;
    margin: 0 auto;
}

@media (min-width: 800px) {
    .services {
        display: flex;
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    .service + .service {
        margin-left: 2em;
    }
}


/* About Me */
.about_me {
    max-width: 1000px;
    margin: 0 auto;
}

.about_me_img {
    box-shadow: purple;
}
@media (min-width: 600px) {
    .about-me {
        display: grid;
        grid-template-columns: 1fr 200px;
        grid-template-areas: 
            "title img"
            "subtitle img"
            "text img";
        grid-column-gap: 2em;
    }
    .section-title--about {
        grid-area: title;
    }
    .section-subtitle--about {
        grid-column: 1 / -1;
        grid-row: 2;
        position: relative;
        left: -2em;
        width: calc(100% + 2em);
        padding-left: 1em;
        padding-right: calc(200px + 4em);
    }
    .about_me_img {
        grid-area: img;
        position: relative;
        z-index: 2;
    }
}


/* My Work */
.my_work {
    background-color: grey;
    color: indigo;
    text-align: center;
}
.portfolio {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio_item {
    background: brown;
    overflow: hidden;
}

.portfolio_img {
    transition:
        transform 750ms cubic-bezier(0.5, 0, 0.5, 1),
        opacity 250ms linear;
}

.portfolio_item:focus {
    position: relative;
    z-index: 2;
}

.portfolio_img:hover,
.portfolio_item:focus .portfolio_img {
    transform: scale(1.2);
    opacity: 0.75;
}


/* Footer */
.footer {
    background: chartreuse;
    color: darkblue;
    text-align: center;
    padding: 2.5em 0;
    font-size: 1.5rem;
}

.footer a {
    color: inherit;
    text-decoration: none;
}

.footer_link {
    font-weight: bold;
}

.footer_link:hover,
.social_list_link:hover {
    opacity: 0.7;
}

.footer_link:hover {
    text-decoration: underline;
}

.social_list {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 2em 0 0;
    padding: 0;
}

.social_list_item {
    margin: 0 0.5em;
}

.social_list_link {
    padding: 0.5em;
}