.certListContainer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: wrap column;
            flex-flow: wrap column;
    width: 84vw;
    margin-top: 1vh;
}
.certificate{    
    display: -webkit-box;    
    display: -ms-flexbox;    
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.certSubTitle{
    margin-top: 2vh;
    font-size: 2vh;
}
.certImg{
    width: 84vw;
    border: 1px gray solid;
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .certListContainer{
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 92vw;
    }
    .certSubTitle{
        font-size: 2.2vh;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    .certListContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 92vw;
    }
    .certSubTitle{
        font-size: 2.8vh;
    }
    .certImg{
        width: 38vw;
        margin: 0vh 2vw 0vh 2vw;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {
    .certListContainer{
        -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
                justify-content: space-evenly;
        width: 92vw;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: landscape) {
    .certListContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 88vw;
    }
    .certSubTitle{
        font-size: 2.4vh;
    }
    .certImg{
        width: 40vw;
        margin: 0vh 1vw 0vh 1vw;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .certListContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 92vw;
        margin-top: 6vh;
    }
    .certSubTitle{
        font-size: 2.4vh;
    }
    .certImg{
        width: 38vw;
        margin: 0vh 2vw 0vh 2vw;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1536px) {
    .certListContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 82vw;
        margin-top: 6vh;
    }
    .certSubTitle{
        font-size: 2.4vh;
    }
    .certImg{
        width: 36vw;
        margin: 0vh 2vw 0vh 2vw;
    }
}


@media only screen and (min-width: 1537px) and (max-width: 2048px) {
    .certListContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 86vw;
        margin-top: 6vh;
    }
    .certSubTitle{
        font-size: 2.6vh;
    }
    .certImg{
        width: 38vw;
        margin: 0vh 2vw 0vh 2vw;
    }
}


@media only screen and (min-width: 2049px) and (max-width: 3000px) {
    .certListContainer{
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 86vw;
        margin-top: 6vh;
    }
    .certSubTitle{
        font-size: 2.4vh;
    }
    .certImg{
        width: 38vw;
        margin: 0vh 2vw 0vh 2vw;
    }
}


@media only screen and (min-width: 3001px) {
    .certListContainer{
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: wrap row;
                flex-flow: wrap row;
        width: 88.2vw;
        margin-top: 6vh;
    }
    .certSubTitle{
        font-size: 2.6vh;
    }
    .certImg{
        width: 40vw;
        margin: 0vh 2vw 0vh 2vw;
    }
}