.certListContainer{
    display: flex;
    justify-content: space-evenly;
    flex-flow: wrap row;
    width: 92vw;
    margin-top: 6vh;
}
.certificate{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.certImg{
    width: 28vw;
    border: 1px gray solid;
}