.slide{
    position: relative;
    text-align: center;
    z-index: 1;
}
#slideImg{
    width: 100%;
    height: 90vh;
    text-align: center;
}
#slideText{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}
#chevronIcon{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
}