.slide{
    position: relative;
    text-align: center;
    z-index: 1;
}
#slideImg{
    width: 100%;
    height: 90vh;
    filter: contrast(180%);
    object-fit: cover;
    text-align: center;
}
#slideText{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #7395b1;
}
#chevronIcon{
    position: absolute;
    top: 76%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #2c586c;
}
#homeContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgb(243, 237, 237);
}
#work{
    width: 98vw;
    border: 2px black dotted;
}
.homeSubtitle{
    width: 90%;
    height: 8vh;
    margin: 13vh 0 2vh 0;
    text-align: center;
    color: white;
    background: #56450b;
}
#bloomSubtitle{
    text-align: center;
}
.bloomColumn{
    display: flex;
    justify-content: space-evenly;    ;
    width: 90vw;
}
.bloomRow{
    display: flex;
    flex-direction: row;
    align-items: center;
}
#bloomTech{
    width: 36vw;
    margin: 0px 4vw 0px 0px;
    border: 1px gray solid;
}
.curriculumItem{
    display: flex;
    align-items: center;
    margin: 1vw;
}
.curriculumTitle{
    width: 16vw;
}
.curriculumText{
    width: 30vw;
}