@media only screen and (max-width: 415px) {
    .navContainer{
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100vw;
        height: 10vh;
        background: #471972;
    }
    .navLeft{
        width: 100%;
    }
    .navTop{
        display: flex;
        float: right;
    }
    .navLinks{
        margin: 1vw 3.4vw 1vw 1vw;
        font-size: 3vh;
        color: #5d57c9;
    }
    #navBottom{
        width: 70vw;
        margin: 5vh 0vw 0vh 2vw;
        color: rgb(243, 237, 237);
    }
    .navBottomShow{
        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        transform: translateX(0%);
    }
    .navBottomHide {
        opacity:0;
        transition: 0.3s;
        float: left;
        margin-right: 20px;
        transform: translateX(-100%);
    }
    .name{
        font-size: 2vh;
    }
    .career{
        font-size: 1.5vh;
    }
    .navRight{
        width: 10vw;
    }
    .résuméFile{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 6.4vh;
        right: 16vw;
        height: 10vh;
    }
    .manillaBack{
        height: 10vh;
    }
    .résuméLink{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 10vh;
        background: white;
        transition: transform 1s;
    }
    .résuméImg{
        position: absolute;
        height: 9.1vh;
        background: white;
    }
    .manillaFront{
        position: absolute;
        height: 10vh;
        filter: brightness(94%);
    }
    .résuméFile:hover .résuméLink {
        transform: translateX(10vw);
    }

    /* Separated For Scroll Effect */
    .titleRevealContainer{
        height: 10vh;
        padding-top: 10vh;
        background: black;
    }
    .bottomNavShow{
        display: none;
    }
    .bottomNavHide{
        width: 68%;
        margin: 2vw;
        color: #dc73e6;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .navContainer{
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100vw;
        height: 10vh;
        background: #471972;
    }
    .navLeft{
        width: 100%;
    }
    .navTop{
        display: flex;
        float: right;
    }
    .navLinks{
        margin: 1vw 3.4vw 1vw 1vw;
        font-size: 3vh;
        color: #5d57c9;
    }
    #navBottom{
        width: 70vw;
        margin: 5vh 0vw 0vh 2vw;
        color: rgb(243, 237, 237);
    }
    .navBottomShow{
        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        transform: translateX(0%);
    }
    .navBottomHide {
        opacity:0;
        transition: 0.3s;
        float: left;
        margin-right: 20px;
        transform: translateX(-100%);
    }
    .name{
        font-size: 2vh;
    }
    .career{
        font-size: 1.5vh;
    }
    .navRight{
        width: 10vw;
    }
    .résuméFile{
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 6.4vh;
        right: 16vw;
        height: 10vh;
    }
    .manillaBack{
        height: 10vh;
    }
    .résuméLink{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 10vh;
        background: white;
        transition: transform 1s;
    }
    .résuméImg{
        position: absolute;
        height: 9.1vh;
        background: white;
    }
    .manillaFront{
        position: absolute;
        height: 10vh;
        filter: brightness(94%);
    }
    .résuméFile:hover .résuméLink {
        transform: translateX(10vw);
    }

    /* Separated For Scroll Effect */
    .titleRevealContainer{
        height: 10vh;
        padding-top: 10vh;
        background: black;
    }
    .bottomNavShow{
        display: none;
    }
    .bottomNavHide{
        width: 68%;
        margin: 2vw;
        color: #dc73e6;
    }
}



@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {

}


@media only screen and (min-width: 1025px) {
    .navContainer{
        display: flex;
        position: fixed;
        z-index: 2;
        width: 100vw;
        height: 11vh;
        background: #471972;
    }
    .navLeft{
        width: 82%;
    }
    .navTop{
        display: flex;
        float: right;
    }
    .navLinks{
        margin: 1vw;
        font-size: 2vw;
        color: #5d57c9;
    }
    #navBottom{
        width: 50vw;
        color: rgb(243, 237, 237);
        font-size: 1.3vw;
    }
    .navBottomShow{
        transition: transform 0.3s;
        -webkit-transition: transform 0.3s;
        transform: translateX(0%);
    }
    .navBottomHide {
        opacity:0;
        transition: 0.3s;
        float: left;
        margin-right: 20px;
        transform: translateX(-100%);
    }
    .name{
        font-size: 1.3vw;
    }
    .career{
        font-size: 1.3vw;
    }
    .navRight{
        width: 18%;
    }
    .résuméFile{
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 3vh;
        right: 6vw;
        height: 20vh;
    }
    .manillaBack{
        height: 20vh;
    }
    .résuméLink{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 20vh;
        background: white;
        transition: transform 1s;
    }
    .résuméImg{
        position: absolute;
        height: 19vh;
        background: white;
    }
    .manillaFront{
        position: absolute;
        height: 20vh;
        filter: brightness(94%);
    }
    .résuméFile:hover .résuméLink {
        transform: translateX(4.1vw);
    }

    /* Separated For Scroll Effect */
    .titleRevealContainer{
        height: 11vh;
        padding-top: 11vh;
        background: black;
    }
    .bottomNavShow{
        display: none;
    }
    .bottomNavHide{
        width: 68%;
        color: #dc73e6;
    }
}