@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,700&display=swap');


#fullContainer{
    background: rgb(243, 237, 237);
}
.slide{
    position: relative;
    text-align: center;
    z-index: 1;
}
#slideImg{
    width: 100%;
    height: 80vh;
    filter: saturate(100%) contrast(140%) brightness(160%);
    object-fit: cover;
    text-align: center;
}
#slideWrap{
    position: absolute;
    top: 91%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    height: 8vh;
    border-radius: 1vw;
    background: rgb(0,0,0,0.89);
}
#slideLink{
    display: flex;
    justify-content: center;
    position: relative;
    width: 60vw;
    height: 8vh;
    border-radius: 4vw;
}
#slideText{
    position: absolute;
    width: 60vw;
    margin-top: 0.6vh;
    font-size: 3.6vh;
    font-family: 'Titillium Web', sans-serif;
    color: #1a8b9d;
}
#downIcon{
    position: absolute;
    margin-top: 2.8vh;
    font-size: 5vh;
    color: #12c6d6;
}
#homeContainer{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    background: rgb(243, 237, 237);
}
#work{
    position: absolute;
    top: 73vh;
    left: 50%;
    transform: translate(-50%, -50%);
}
.homeSubtitleWrap{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94%;
    height: 7vh;
    margin: 5vh 0vh 1vh 0vh;
    font-size: 2.4vh;
    color: black;
    background: #cc7a7a;
}
#bloomSubtitle{
    font-size: 2vh;
    text-align: center;
}
.bloomColumn{
    display: flex;
    justify-content: space-between;
    width: 90vw;
}
.bloomRow{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#bloomTech{
    width: 84vw;
    margin-bottom: 2vh;
    border: 1px gray solid;
}
.curriculumItem{
    display: flex;
    align-items: center;
    margin: 1vh 0vw 1vh 0vw;
    padding: 1vh 0vw 1.5vh 0vw;
    border-bottom: 1px black solid;
}
.curriculumTitle{
    width: 24vw;
    margin-left: 2vw;
    font-size: 1.5vh;
}
.curriculumText{
    width: 55vw;
    margin: 0vh 1vw 0vh 3vw;
    font-size: 1.4vh;
}


@media only screen and (max-width: 415px) {
    .bloomColumn{
        justify-content: center;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    #slideWrap{
        top: 88%;
    }
    .homeSubtitleWrap{
        font-size: 2.6vh;
    }
    .bloomColumn{
        justify-content: center;
    }
    #bloomSubtitle{
        font-size: 2.2vh;
    }
    .curriculumTitle{
        font-size: 1.7vh;
    }
    .curriculumText{
        width: 52vw;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    #slideWrap{
        width: 34vw;
    }
    #slideLink{
        width: 34vw;
    }
    #slideText{
        width: 34vw;
    }
    .homeSubtitleWrap{
        height: 10vh;
        font-size: 3.5vh;
    }
    .bloomColumn{
        width: 80vw;
    }
    #bloomSubtitle{
        font-size: 2.8vh;
    }
    .bloomRow{
        flex-direction: row;
        justify-content: center;
    }
    #bloomTech{
        width: 38vw;
        margin: 1vh 2vw 0vh 0vw;
    }
    .curriculumTitle{
        width: 14vw;
        font-size: 2vh;
    }
    .curriculumText{
        width: 22vw;
        margin: 0vh 1vw 0vh 1vw;
        font-size: 1.6vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {
    #slideWrap{
        top: 88.25%;
        width: 54vw;
    }
    #slideLink{
        width: 54vw;
    }
    #slideText{
        width: 54vw;
    }
    .bloomColumn{
        justify-content: center;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: landscape) {
    #slideWrap{
        top: 91.5%;
        width: 30vw;
    }
    #slideLink{
        width: 30vw;
    }
    #slideText{
        width: 30vw;
    }
    .homeSubtitleWrap{
        height: 9vh;
        font-size: 3vh;
    }
    #bloomSubtitle{
        font-size: 2.4vh;
    }
    .bloomColumn{
        width: 84vw;
        margin-top: 2vh;
    }
    .bloomRow{
        flex-direction: row;
    }
    #bloomTech{
        width: 40vw;
        margin-right: 1vh;
    }
    .curriculumItem{
        margin: 1vw;
    }
    .curriculumTitle{
        width: 13vw;
        font-size: 1.7vh;
    }
    .curriculumText{
        width: 24vw;
        margin: 0vh 2vw 0vh 1vw;
        font-size: 1.5vh;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    #slideWrap{
        top: 85%;
        width: 24vw;
        height: 9vh;
        border-radius: 0.7vw;
    }
    #slideLink{
        width: 24vw;
        height: 9vh;
    }
    #slideText{
        width: 24vw;
        margin-top: 1vh;
        font-size: 2.5vw;
        color: #4006a3;
    }
    #downIcon{
        margin-top: 3.4vh;
        font-size: 5.5vh;
        color: #300080;
    }
    #work{
        top: 93%;
    }
    .homeSubtitleWrap{
        width: 90%;
        height: 9vh;
        margin: 7vh 0vh 2vh 0vh;
        font-size: 3.2vh;
    }
    #bloomSubtitle{
        font-size: 2.4vh;
    }
    .bloomColumn{
        width: 80vw;
        margin-top: 2vh;
    }
    .bloomRow{
        flex-direction: row;
    }
    #bloomTech{
        width: 36vw;
        margin: 0vh 1vw 0vh 0vw;
    }
    .curriculumItem{
        margin: 1vw;
    }
    .curriculumTitle{
        width: 13vw;
        font-size: 1.9vh;
    }
    .curriculumText{
        width: 23vw;
        font-size: 1.7vh;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1536px) {
    #slideImg{
        height: 88vh;
    }
    #slideWrap{
        top: 80%;
        width: 26vw;
        border-radius: 0.7vw;
        background: black;
    }
    #slideLink{
        width: 26vw;
    }
    #slideText{
        width: 26vw;
        margin-top: 0.1vh;
        font-size: 4.4vh;
        color: #4006a3;
    }
    #downIcon{
        margin-top: 2.4vh;
        font-size: 5.5vh;
        color: #300080;
    }
    #work{
        top: 93%;
    }
    .homeSubtitleWrap{
        width: 90%;
        height: 9vh;
        margin: 7vh 0vh 2vh 0vh;
        font-size: 3.4vh;
    }
    #bloomSubtitle{
        font-size: 2.4vh;
    }
    .bloomColumn{
        width: 76vw;
        margin-top: 3vh;
    }
    .bloomRow{
        flex-direction: row;
    }
    #bloomTech{
        width: 36vw;
        margin: 0px 1vw 0px 0px;
    }
    .curriculumItem{
        margin: 1vw;
    }
    .curriculumTitle{
        width: 12vw;
        font-size: 1.8vh;
    }
    .curriculumText{
        width: 20vw;
        font-size: 1.5vh;
    }
}


@media only screen and (min-width: 1537px) and (max-width: 2048px) {
    #slideImg{
        height: 88vh;
    }
    #slideWrap{
        top: 80%;
        width: 22vw;
        border-radius: 0.7vw;
        background: black;
    }
    #slideLink{
        width: 22vw;
    }
    #slideText{
        width: 22vw;
        margin-top: 0vh;
        font-size: 2.2vw;
        color: #4006a3;
    }
    #downIcon{
        margin-top: 2.2vh;
        font-size: 5.5vh;
        color: #300080;
    }
    #work{
        top: 93%;
    }
    .homeSubtitleWrap{
        width: 90%;
        height: 9vh;
        margin: 7vh 0vh 3vh 0vh;
        font-size: 3.2vh;
    }
    #bloomSubtitle{
        font-size: 2.6vh;
    }
    .bloomColumn{
        width: 80vw;
        margin-top: 3vh;
    }
    .bloomRow{
        flex-direction: row;
    }
    #bloomTech{
        width: 38vw;
        margin: 0vh 2vw 0vh 0vw;
    }
    .curriculumItem{
        margin: 1vw;
    }
    .curriculumTitle{
        width: 12vw;
        font-size: 1.8vh;
    }
    .curriculumText{
        width: 21vw;
        font-size: 1.8vh;
    }
}


@media only screen and (min-width: 2049px) and (max-width: 3000px) {
    #slideImg{
        height: 88vh;
    }
    #slideWrap{
        top: 80%;
        width: 24vw;
        height: 9vh;
        border-radius: 0.7vw;
    }
    #slideLink{
        width: 24vw;
        height: 9vh;
    }
    #slideText{
        width: 24vw;
        margin-top: 0vh;
        font-size: 2.5vw;
        color: #4006a3;
    }
    #downIcon{
        margin-top: 2.6vh;
        font-size: 5.8vh;
        color: #300080;
    }
    #work{
        top: 93%;
    }
    .homeSubtitleWrap{
        width: 90%;
        height: 9vh;
        margin: 7vh 0vh 3vh 0vh;
        font-size: 3.4vh;
    }
    .bloomColumn{
        width: 80vw;
    }
    #bloomSubtitle{
        font-size: 2.4vh;
    }
    .bloomRow{
        flex-direction: row;
    }
    #bloomTech{
        width: 36vw;
        margin: 0px 2vw 0px 0px;
    }
    .curriculumItem{
        margin: 1vw;
    }
    .curriculumTitle{
        width: 14vw;
        font-size: 1.8vh;
    }
    .curriculumText{
        width: 21vw;
        font-size: 1.6vh;
    }
}


@media only screen and (min-width: 3001px) {
    #slideImg{
        height: 88vh;
    }
    #slideWrap{
        top: 81%;
        width: 22vw;
        height: 9vh;
        border-radius: 0.7vw;
        background: black;
    }
    #slideLink{
        width: 22vw;
        height: 10vh;
    }
    #slideText{
        width: 22vw;
        margin-top: 0.4vh;
        font-size: 2.5vw;
        color: #4006a3;
    }
    #downIcon{
        margin-top: 3.4vh;
        font-size: 5.5vh;
        color: #300080;
    }
    #work{
        top: 93%;
    }
    .homeSubtitleWrap{
        width: 90%;
        height: 10vh;
        margin: 7vh 0vh 5vh 0vh;
        font-size: 3.6vh;
    }
    #bloomSubtitle{
        font-size: 2.6vh;
    }
    .bloomColumn{
        width: 84vw;
    }
    .bloomRow{
        flex-direction: row;
    }
    #bloomTech{
        width: 38vw;
        margin: 0vh 2vw 0vh 0vw;
    }
    .curriculumItem{
        margin: 1vw;
    }
    .curriculumTitle{
        width: 14vw;
        font-size: 2vh;
    }
    .curriculumText{
        width: 23vw;
        font-size: 1.8vh;
    }
}