.contactContainer{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    flex-direction: column;
    -webkit-flex-direction: column;
    height: 72vh;
    background: rgb(243, 237, 237);
}
.contactItems{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: space-evenly;
    -webkit-justify-content: space-evenly;
    margin: 3vh 0vw 3vh 0vw;
    border: 3px black solid;
}
.mixIcon{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
    width: 42vw;
    margin: 1vh 0vw 1vh 0vw;
}
.iconText{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-direction: column;
    -webkit-flex-direction: column;
    font-size: 1.15vh;
}
.faIcon{
    font-size: 5vh;
}
.formContainer{
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    justify-content: center;
    -webkit-justify-content: center;
}
.contactInput{
    margin-top: 1vh;
}
.contactMessage{
    width: 70vw;
    max-height: 18vh;
    margin-top: 1vh;
}
#contactSend{
    padding: 1vh 3vw 1vh 3vw;
}
textarea{
    resize: none;
}
#status{
    color: white;
}
#status.success{
    background: green;
    animation: status 4s ease forwards;
}
#status.error{
    background: red;
    animation: status 4s ease forwards;
}
@keyframes status{
    0%{
        opacity: 1;
        pointer-events: all;
    }
    90%{
        opacity: 1;
        pointer-events: all;
    }
    100%{
        opacity: 0;
        pointer-events: none;
    }
}


@media only screen and (max-width: 415px) {

}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .textSize{
        font-size: 1.5vh;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    .contactItems{
        margin: 1vh 0vw 1vh 0vw;
    }
    .textSize{
        font-size: 2vh;
    }
    .faIcon{
        font-size: 7vh;
    }
    .contactMessage{
        max-height: 14vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {
    .textSize{
        font-size: 1.4vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: landscape) {
    .contactItems{
        margin: 2vh 0vw 2vh 0vw;
    }
    .textSize{
        font-size: 1.5vh;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .contactContainer{
        height: 70vh;
    }
    .mixIcon{
        width: 40vw;
    }
    .textSize{
        font-size: 1.8vh;
    }
    .contactMessage{
        width: 40vw;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1536px) {
    .contactContainer{
        height: 70vh;
    }
    .contactItems{
        margin: 4vh 0vw 4vh 0vw;
    }
    .mixIcon{
        width: 35vw;
    }
    .iconText{
        font-size: 2vh;
    }
    .textSize{
        font-size: 1.5vh;
    }
    .contactMessage{
        width: 40vw;
    }
}


@media only screen and (min-width: 1537px) and (max-width: 2048px) {
    .contactContainer{
        height: 70vh;
    }
    .contactItems{
        margin: 4vh 0vw 4vh 0vw;
    }
    .mixIcon{
        width: 35vw;
    }
    .iconText{
        font-size: 2vh;
    }
    .textSize{
        font-size: 1.5vh;
    }
    .contactMessage{
        width: 34vw;
    }
}


@media only screen and (min-width: 2049px) and (max-width: 3000px) {
    .contactContainer{
        height: 70vh;
    }
    .contactItems{
        margin: 4vh 0vw 4vh 0vw;
    }
    .mixIcon{
        width: 35vw;
    }
    .iconText{
        font-size: 2.1vh;
    }
    .textSize{
        font-size: 1.7vh;
    }
    .contactMessage{
        width: 40vw;
    }
}


@media only screen and (min-width: 3001px) {
    .contactContainer{
        height: 70vh;
    }
    .contactItems{
        margin: 4vh 0vw 4vh 0vw;
    }
    .mixIcon{
        width: 35vw;
    }
    .iconText{
        font-size: 2vh;
    }
    .textSize{
        font-size: 1.5vh;
    }
    .contactMessage{
        width: 34vw;
    }
}