.project-container{
    width: 28%;
    margin: 0px 2vw 4vh 2vw;
    border: 1px blue solid;
}
.projectImg-container{
    display: flex;
    align-items: center;
    justify-content: center;
}
.project-img{
    width: 96%;
}
.info-wrapper{
    width: 98%;
}
.item-info{
    font-size: 2vw;
}