@media only screen and (max-width: 415px) {
    .projectContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 84vw;
        height: 35vh;
        margin-bottom: 2vh;
        background: rgb(236, 210, 210);
        border: 2px white solid;
    }
    .projectContainer:hover{
        transform: scale(1.02,1.02);
    }
    .left{
        position: relative;
        width: 96%;
        height: 88%;
        border: 2px black solid;
    }
    #projectTitle{
        height: 13%;
        font-size: 2vh;
        text-align: center;
    }
    .infoWrapper{
        height: 72%;
    }
    #itemInfoDescription{
        margin: 0px 14px 0px 14px;
        text-align: center;
        font-size: 1.2vh;
    }
    #itemInfoTech{
        display: none;
    }
    .itemLinks{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        margin-top: 8px;
        font-style: italic;
        text-decoration: underline 2px;
    }
    .projectImgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        height: 100%;
        margin-top: 5vh;
    }
    .projectImg{
        width: 80vw;
    }
}
@media only screen and (min-width: 416px) {
    .projectContainer{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 70vw;
        height: 34vh;
        margin-bottom: 1.2vw;
        background: rgb(236, 210, 210);
    }
    .projectContainer:hover{
        transform: scale(1.02,1.02);
    }
    .left{
        width: 50%;
        height: 74%;
        border: 2px black solid;
    }
    #projectTitle{
        height: 14%;
        text-align: center;
    }
    .infoWrapper{
        height: 60%;
    }
    #itemInfoDescription{
        margin: 0px 14px 0px 14px;
        text-align: center;
        font-size: 1.2vw;
    }
    #itemInfoTech{
        margin: 0px 14px 0px 14px;
        text-align: center;
        font-size: 1.2vw;
        color: red;
    }
    .itemLinks{
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 10%;
        margin-top: 8px;
        font-style: italic;
        text-decoration: underline 2px;
    }
    .projectImgContainer{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
    }
    .projectImg{
        height: 90%;
    }
}