@media only screen and (max-width: 415px) {
    .projectListContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 76vw;
        min-height: 80vh;
    }
    .projectForm{
        display: flex;
        align-items: center;
    }
    .suggestProjectBtn{
        width: 28vw;
        height: 7vh;
        margin-right: 1vw;
    }
    .suggestProjectBtnAlt{
        height: 18vh;
        margin: 1vh 1vw 1vh 0vw;
    }
    .projectInputs{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .formProjectInput{
        width: 30vw;
    }
    .subject{
        display: none;
    }
    #projectMessage{
        width: 43vw;
        height: 16vh;
        margin-top: 0.5vh;
    }
    .btnsWrapper{
        display: flex;
        flex-direction: column;
        margin: 0px 1vw 0px 1vw;
    }
    .projectBtn{
        width: 8vw;
        height: 7vh;
        margin-top: 1vh;
    }
    
    
    #status{
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {

}



@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {

}


@media only screen and (min-width: 1025px) {
    .projectListContainer{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 76vw;
        min-height: 80vh;
    }
    .projectForm{
        display: flex;
        width: 70vw;
    }
    .suggestProjectBtn{
        width: 10vw;
        margin: 1vh 1vw 1vh 1.8vw;
        padding: 1.6vh 2vw 1.6vh 2vw;
    }
    .projectInputs{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .subject{
        display: none;
    }
    #projectMessage{
        width: 46vw;
        height: 16vh;
    }
    .btnsWrapper{
        display: flex;
        flex-direction: column;
        margin: 0px 1vw 0px 1vw;
    }
    .projectBtn{
        width: 8vw;
        height: 7vh;
        margin: 1vh 0px 1vh 0px;
    }
    
    
    #status{
    }
}