.projectListContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    min-height: 80vh;
    padding-top: 6vh;
    scroll-behavior: smooth;
    overflow-y: scroll;
}