.projectListContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 76vw;
}
.projectForm{
    display: flex;
    align-items: center;
}
.suggestProjectBtn{
    width: 28vw;
    height: 7vh;
    margin-right: 1vw;
    font-size: 1.8vh;
    border: 2px black solid;
}
.suggestProjectBtnAlt{
    height: 18vh;
    margin: 1vh 1vw 1vh 0vw;
    font-size: 1.8vh;
    border: 2px black solid;
}
.projectInputs{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.formProjectInput{
    width: 30vw;
}
.inputText{
    font-size: 1.8vh;
}
.subject{
    display: none;
}
#projectMessage{
    width: 43vw;
    height: 16vh;
    margin-top: 0.5vh;
}
.btnsWrapper{
    display: flex;
    flex-direction: column;
    margin: 0px 1vw 0px 1vw;
}
.projectBtn{
    width: 8vw;
    height: 7vh;
    margin-top: 1vh;
    font-size: 1.8vh;
    border: 2px black solid;
}
.success{
    width: 100%;
    padding: 1.5vh;
    color: green;
    background: lightgray;
}
.error{
    width: 100%;
    padding: 1.5vh;
    color: red;
    background: lightgray;
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .suggestProjectBtn{
        font-size: 1.6vh;
    }
    .suggestProjectBtnAlt{
        font-size: 1.6vh;
    }
    .inputText{
        font-size: 1.9vh;
    }
    .projectBtn{
        font-size: 1.9vh;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    .suggestProjectBtn{
        height: 15vh;
        font-size: 3.8vh;
    }
    .suggestProjectBtnAlt{
        height: 24vh;
        font-size: 3.8vh;
    }
    .inputText{
        font-size: 3vh;
    }
    .projectBtn{
        font-size: 2.6vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {
    .suggestProjectBtn{
        font-size: 1.7vh;
    }
    .suggestProjectBtnAlt{
        font-size: 1.7vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: landscape) {
    .suggestProjectBtn{
        height: 10vh;
        font-size: 2.5vh;
    }
    .suggestProjectBtnAlt{
        padding: 1.5vh;
        font-size: 2.5vh;
    }
    .inputText{
        font-size: 2vh;
    }
    .projectBtn{
        font-size: 1.9vh;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .suggestProjectBtn{
        width: 18vw;
        height: 10vh;
        margin: 1vh 1vw 1vh 1.8vw;
        font-size: 2.3vh;
    }
    .suggestProjectBtnAlt{
        height: 20vh;
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .inputText{
        font-size: 1.9vh;
    }
    .projectBtn{
        margin: 1vh 0px 1vh 0px;
        font-size: 1.9vh;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1536px) {
    .suggestProjectBtn{
        width: 18vw;
        height: 10vh;
        margin: 1vh 1vw 1vh 1.8vw;
        font-size: 2.3vh;
    }
    .suggestProjectBtnAlt{
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .inputText{
        font-size: 2vh;
    }
    .projectBtn{
        margin: 1vh 0px 1vh 0px;
        font-size: 2vh;
    }
}


@media only screen and (min-width: 1537px) and (max-width: 2048px) {
    .suggestProjectBtn{
        width: 18vw;
        height: 10vh;
        margin: 1vh 1vw 1vh 1.8vw;
        font-size: 2.3vh;
    }
    .suggestProjectBtnAlt{
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .inputText{
        font-size: 2vh;
    }
    .projectBtn{
        margin: 1vh 0px 1vh 0px;
        font-size: 2vh;
    }
}


@media only screen and (min-width: 2049px) and (max-width: 3000px) {
    .suggestProjectBtn{
        width: 18vw;
        height: 10vh;
        margin: 1vh 1vw 1vh 1.8vw;
        font-size: 2.3vh;
    }
    .suggestProjectBtnAlt{
        height: 16vh;
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .inputText{
        font-size: 2vh;
    }
    .projectBtn{
        margin: 1vh 0px 1vh 0px;
        font-size: 2vh;
    }
}


@media only screen and (min-width: 3001px) {
    .suggestProjectBtn{
        width: 18vw;
        height: 10vh;
        margin: 1vh 1vw 1vh 1.8vw;
        font-size: 2.3vh;
    }
    .suggestProjectBtnAlt{
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .inputText{
        font-size: 2.1vh;
    }
    .projectBtn{
        margin: 1vh 0px 1vh 0px;
        font-size: 2.1vh;
    }
}