.projectContainer{
    width: 28vw;
    height: 60vh;
    margin: 0.4vw;
    background: rgba(0, 0, 0, 0.4);
}
#projectTitle{
    height: 8%;
    text-align: center;
}
.projectImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44%;
}
.projectImg{
    width: 25vw;
}
.infoWrapper{
    height: 30%;
}
#itemInfoDescription{
    height: 86%;
    margin: 0px 14px 0px 14px;
    text-align: center;
    font-size: 1.2vw;
}
#itemInfoTech{
    margin: 0px 14px 0px 14px;
    text-align: center;
    font-size: 1.2vw;
    color: red;
}
.itemLinks{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10%;
    margin-top: 8px;
    text-decoration: underline 2px;
}