.skillListContainer{
    display: flex;
    display: -webkit-flex;
    align-items: center;
-webkit-align-items: center;

    justify-content: center;
-webkit-justify-content: center;

    flex-direction: column;
    width: 84vw;
    margin-bottom: 2vh;
    border: 4px white solid;
}
.skills{
    display: flex;
    display: -webkit-flex;
    align-items: center;
-webkit-align-items: center;

    justify-content: center;
-webkit-justify-content: center;

    flex-flow: row wrap;
}
.skill{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    align-items: center;
-webkit-align-items: center;

    width: 19vw;
    height: 19vw;
    margin: 1vh 2.3vw 2vh 2.3vw; 
    background: white;
    border: 4px #5d57c9 solid;
    border-radius: 50%;
}
.skillName{
    width: 22vw;
    margin: 0.5vh 0vw 0.5vh 0vw;
    padding: 0.3vh;
    font-size: 2vh;
    font-weight: 600;
    text-align: center;
    color: white;
    background: #5d57c9;;
}
.skillIcon{
    height: 6.4vh;
}
.imgIconWrap{
    display: flex;
    display: -webkit-flex;
    align-items: center;
-webkit-align-items: center;

    justify-content: center;
-webkit-justify-content: center;

}
.skillForm{
    display: flex;
    display: -webkit-flex;
    align-items: center;
-webkit-align-items: center;

}
.skillFormAlt{
    display: flex;
    display: -webkit-flex;
    align-items: center;
-webkit-align-items: center;

    justify-content: center;
-webkit-justify-content: center;

}
.suggestSkillBtn{
    height: 18vh;
    margin: 1vh 1vw 1vh 0vw;
    font-size: 1.8vh;
    border: 1px black solid;
}
.suggestSkillBtnAlt{
    width: 28vw;
    height: 7vh;
    margin-bottom: 2vh;
    font-size: 1.8vh;
    border: 1px black solid;
}
.skillInputs{
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    align-items: center;
-webkit-align-items: center;

}
.formSkillInput{
    width: 30vw;
}
.inputText{
    font-size: 1.8vh;
}
.subject{
    display: none;
}
#skillMessage{
    width: 43vw;
    height: 16vh;
    margin-top: 0.5vh;
}
.btnsWrapper{
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
}
.skillBtn{
    width: 8vw;
    height: 7vh;
    margin-top: 1vh;
    font-size: 1.8vh;
    border: 1px black solid;
}
.success{
    width: 100%;
    padding: 1.5vh;
    color: green;
    background: lightgray;
}
.error{
    width: 100%;
    padding: 1.5vh;
    color: red;
    background: lightgray;
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: portrait) {
    .skill{
        margin: 1vh 2.4vw 2vh 2.4vw; 
    }
    .skillName{
        padding: 0.2vh;
        font-size: 2.2vh;
    }
    .skillIcon{
        height: 8.4vh;
    }
    .suggestSkillBtn{
        font-size: 1.6vh;
    }
    .suggestSkillBtnAlt{
        font-size: 1.6vh;
    }
    .inputText{
        font-size: 1.9vh;
    }
    #skillMessage{
        width: 44vw;
        height: 14vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 1.9vh;
    }
}


@media only screen and (min-width: 416px) and (max-width: 769px) and (orientation: landscape) {
    .skillListContainer{
        width: 80vw;
    }
    .skill{
        width: 11vw;
        height: 11vw;
        margin: 1vh 2.4vw 2vh 2.4vw; 
    }
    .skillName{
        width: 12vw;
        font-size: 2.8vh;
    }
    .skillIcon{
        height: 14vh;
    }
    .suggestSkillBtn{
        height: 24vh;
        font-size: 3.8vh;
    }
    .suggestSkillBtnAlt{
        height: 15vh;
        font-size: 3.8vh;
    }
    .inputText{
        font-size: 3vh;
    }
    #skillMessage{
        width: 44vw;
        height: 14vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        width: 8vw;
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 2.6vh;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: portrait) {
    .skill{
        width: 18vw;
        height: 18vw;
        margin: 1vh 2.6vw 2vh 2.6vw; 
    }
    .skillName{
        font-size: 2vh;
    }
    .skillIcon{
        height: 7vh;
    }
    .suggestSkillBtn{
        font-size: 1.7vh;
    }
    .suggestSkillBtnAlt{
        width: 30vw;
        font-size: 1.7vh;
    }
    #skillMessage{
        width: 44vw;
        height: 14vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
    }
}


@media only screen and (min-width: 770px) and (max-width: 1024px) and (orientation: landscape) {
    .skill{
        width: 11vw;
        height: 11vw;
        margin: 1vh 2.4vw 2vh 2.4vw; 
    }
    .skillName{
        width: 14vw;
        font-size: 2.4vh;
    }
    .skillIcon{
        height: 9.5vh;
    }
    .suggestSkillBtn{
        padding: 1.5vh;
        font-size: 2.5vh;
    }
    .suggestSkillBtnAlt{
        height: 10vh;
        font-size: 2.5vh;
    }
    .inputText{
        font-size: 2vh;
    }
    #skillMessage{
        width: 44vw;
        height: 14vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 1.9vh;
    }
}


@media only screen and (min-width: 1025px) and (max-width: 1280px) {
    .skillListContainer{
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: row;
        width: 80vw;
        min-height: 54vh;
        margin: 0vh 0vw 8vh 0vw;
        border: 6px white solid;
    }
    .skills{
        justify-content: start;
        flex-flow: row wrap;
        width: 54%;
        margin-top: 2vh;
    }
    .skill{
        width: 7.5vw;
        height: 7.5vw;
        margin: 1vh 2vh 2vh 2vh; 
    }
    .skillName{
        width: 9vw;
        font-size: 2.4vh;
    }
    .skillIcon{
        height: 7vh;
    }
    .skillForm{
        width: 30%;
        margin-top: 4vh;
    }
    .skillFormAlt{
        width: 30%;
    }
    .suggestSkillBtn{
        height: 20vh;
        font-size: 2.3vh;
    }
    .suggestSkillBtnAlt{
        width: 18vw;
        height: 10vh;
        margin-top: 4vh;
        font-size: 2.3vh;
    }
    .formSkillInput{
        width: 9vw;
    }
    .inputText{
        font-size: 1.9vh;
    }
    #skillMessage{
        width: 11vw;
        height: 21vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        width: 6vw;
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 1.9vh;
    }
}


@media only screen and (min-width: 1281px) and (max-width: 1536px) {
    .skillListContainer{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 76vw;
        min-height: 54vh;
        margin: 0vh 0vw 6vh 0vw;
        border: 8px white solid;
    }
    .skills{
        justify-content: start;
        width: 57%;
        margin: 0px 1vw 0px 1vw;
    }
    .skill{
        width: 7vw;
        height: 7vw;
        margin: 1vh 2.2vh 2vh 2.2vh; 
    }
    .skillName{
        width: 8.5vw;
        font-size: 2.4vh;
    }
    .skillIcon{
        height: 7.5vh;
    }
    .skillForm{
        width: 30%;
        margin-top: 4vh;
    }
    .skillFormAlt{
        width: 30%;
    }
    .suggestSkillBtn{
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .suggestSkillBtnAlt{
        width: 18vw;
        height: 10vh;
        margin-top: 4vh;
        font-size: 2.3vh;
    }
    .formSkillInput{
        width: 9vw;
    }
    .inputText{
        font-size: 2vh;
    }
    #skillMessage{
        width: 11vw;
        height: 21vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        width: 6vw;
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 2vh;
    }
}


@media only screen and (min-width: 1537px) and (max-width: 2048px) {
    .skillListContainer{
        align-items: flex-start;
        justify-content: space-evenly;
        flex-direction: row;
        width: 80vw;
        min-height: 54vh;
        margin: 0vh 0vw 6vh 0vw;
        border: 8px white solid;
    }
    .skills{
        justify-content: start;
        width: 58%;
    }
    .skill{
        width: 7vw;
        height: 7vw;
        margin: 1vh 2vw 2vh 2vw; 
    }
    .skillName{
        width: 9.5vw;
        font-size: 2.6vh;
    }
    .skillIcon{
        height: 7.7vh;
    }
    .skillForm{
        width: 30%;
        margin-top: 4vh;
    }
    .skillFormAlt{
        width: 30%;
    }
    .suggestSkillBtn{
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .suggestSkillBtnAlt{
        width: 18vw;
        height: 10vh;
        margin-top: 4vh;
        font-size: 2.3vh;
    }
    .formSkillInput{
        width: 9vw;
    }
    .inputText{
        font-size: 2vh;
    }
    #skillMessage{
        width: 11vw;
        height: 21vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        width: 6vw;
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 2vh;
    }
}


@media only screen and (min-width: 2049px) and (max-width: 3000px) {
    .skillListContainer{
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: row;
        width: 80vw;
        min-height: 54vh;
        margin: 0vh 0vw 6vh 0vw;
        border: 10px white solid;
    }
    .skills{
        width: 58%;
        margin: 0vh 1vw 0vh 1vw;
    }
    .skill{
        width: 8vw;
        height: 8vw;
        margin: 1vh 2vh 2vh 2vh; 
    }
    .skillName{
        width: 9vw;
        font-size: 2.4vh;
    }
    .skillIcon{
        height: 9vh;
    }
    .skillForm{
        width: 30%;
        margin-top: 4vh;
    }
    .skillFormAlt{
        width: 30%;
    }
    .suggestSkillBtn{
        height: 16vh;
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .suggestSkillBtnAlt{
        width: 18vw;
        height: 10vh;
        margin-top: 4vh;
        font-size: 2.3vh;
    }
    .formSkillInput{
        width: 9vw;
    }
    .inputText{
        font-size: 2vh;
    }
    #skillMessage{
        width: 11vw;
        height: 21vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        width: 6vw;
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 2vh;
    }
}


@media only screen and (min-width: 3001px) {
    .skillListContainer{
        align-items: flex-start;
        flex-direction: row;
        width: 84vw;
        min-height: 54vh;
        margin: 0vh 0vw 6vh 0vw;
        border: 16px white solid;
    }
    .skills{
        justify-content: start;
        width: 58%;
    }
    .skill{
        width: 8vw;
        height: 8vw;
        margin: 1vh 2vh 2vh 2vh; 
        border: 8px #5d57c9 solid;
    }
    .skillName{
        width: 9vw;
        font-size: 2.4vh;
    }
    .skillIcon{
        height: 9vh;
    }
    .skillForm{
        width: 30%;
        margin-top: 4vh;
    }
    .skillFormAlt{
        width: 30%;
    }
    .suggestSkillBtn{
        padding: 1.5vh;
        font-size: 2.3vh;
    }
    .suggestSkillBtnAlt{
        width: 18vw;
        height: 10vh;
        margin-top: 4vh;
        font-size: 2.3vh;
    }
    .formSkillInput{
        width: 9vw;
    }
    .inputText{
        font-size: 2.1vh;
    }
    #skillMessage{
        width: 11vw;
        height: 21vh;
    }
    .btnsWrapper{
        margin: 0vh 0vw 0vh 1vw;
    }
    .skillBtn{
        width: 6vw;
        height: 8vh;
        margin: 1.5vh 0vw 1.5vh 0vw;
        font-size: 2.1vh;
    }
}