.skillListContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 10vh;
}
.skills{
    display: flex;
    justify-content: center; 
}
.skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px 18px 0px 18px; 
}
.skillName{
}
.skillIcon{
    height: 8vh;
}
.imgIconWrap{
    display: flex;
    align-items: center;
    justify-content: center;
}
.imgIcon{
    margin-top: 2px;
}