body{
  margin: 0;
  padding: 0;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html{
  scroll-behavior: smooth;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html::-webkit-scrollbar {
  display: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

a, a:visited{
  text-decoration: none;
  -webkit-text-decoration: none;
  color: inherit;
}
h1, h2, h3, h4, h5, h6{
  margin: 0px;
}
p{
  margin: 0px;
}


.blueHover, input[type="submit"] {
  color: rgb(243, 237, 237);
  background: #471972;
  border: 1px black solid;
  transition: .9s ease background;
}
.blueHover:hover, input[type="submit"]:hover {
  color: #716dcb;
}